<!-- This file render the main structure of the app.. -->

<div>
  <nav id="navbar-example2" class="navbar navbar-dark bg-dark px-4">
    <a class="navbar-brand" routerLink="/">Todo_List</a>
    <ul class="nav nav-pills">
      <li class="nav-item">
        <a class="nav-link text-light" routerLink="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-light" routerLink="/about">AboutUs</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-light" routerLink="/contact">ContactUs</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle text-light" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">More Options</a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" routerLink="#scrollspyHeading1">My Todos</a></li>
          <li><a class="dropdown-item" routerLink="/contact">contactUs</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item" routerLink="/about">AboutUs</a></li>
        </ul>
      </li>
    </ul>
    <form class="d-flex" role="search">
      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
  </nav>
  <!-- <div data-bs-spy="scroll" data-bs-target="#navbar-example2" data-bs-root-margin="0px 0px -40%" data-bs-smooth-scroll="true" class="scrollspy-example" tabindex="0">
    <h4 id="scrollspyHeading1">First heading</h4>
    <p>...</p>
    <h4 id="scrollspyHeading2">Second heading</h4>
    <p>...</p>
    <h4 id="scrollspyHeading3">Third heading</h4>
    <p>...</p>
    <h4 id="scrollspyHeading4">Fourth heading</h4>
    <p>...</p>
    <h4 id="scrollspyHeading5">Fifth heading</h4>
    <p>...</p>
  </div> -->

    <!-- <app-todos></app-todos> -->
    <div class="container">

      <router-outlet></router-outlet>
    </div>

  <!-- <h1>Halo this is heading {{title}} </h1> -->
</div>
<app-footer></app-footer>
