<div class="my-3">
    <h3 class="text-center">Add a Todo</h3>
    <form (ngSubmit)="onSubmit()">
        <div class="mb-3">
          <label for="title" class="form-label">Todo Title</label>
          <input type="text" class="form-control" [(ngModel)]="title" id="title" name ="title" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
          <label for="desc" class="form-label">Todo Description</label>
          <input type="text" class="form-control" [(ngModel)]="desc" id="desc" name="desc">
        </div>
        <button type="submit" class="btn btn-sm btn-primary">Add Todo</button>
      </form>
      <hr>
</div>